body
{
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
  color:#BB2299;
}
div
{
  background-color:#BADA55;
  border: 3px #BB2299 solid;
}
div#one
{
  text-align: left;
  font-size: 18;
}
div#one h3
{
  text-align: center;
}
div#two
{
  width: 10%;
  height: 100vh;
  float: left;
  display:block-inline;
  align-content:left;
  border-top: none;
}
div#two ul
{
  list-style-type:none;
  overflow: hidden;
  margin:0px;
  padding:10px;
}
div#two li
{
  padding: 20px 0px;
  border-bottom: 2px #BB2299 solid;
}
div#three
{
  margin: 10px;
  display: inline-block;
  border: none;
  background: none;
}
.wrapper
{
  display: block;
  background: none;
  border: none;
}
