body {
  margin:0;
}
.title { 
  height: fit-content;
}
.title h1 {
  display:inline-block;
  font-size:30px;
  padding: 15px 15px;
  margin:0;
}

#header {
  font-size:20px;
  font-family: sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #424242;
}

#header li {
  float:left;
}

#header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#header li a:hover {
  background-color: #111;
}